h1 { 
    font-size: 1.5em;
    margin: 0 auto;
    overflow: hidden;
}

h1:hover {
    overflow: visible;
}

.cardNumLabel {
    display: block;
    margin: 5px;
    font-weight:bold;

}
.flipped {
    display: inherit;
}

.face {
  border-radius: 5%;
  display: none;
  padding: 5px;
  margin: auto;
  height: 129px;
  width: 70px;
  list-style:none;
  text-align: center;
  z-index:1;
}

.face:hover {
    z-index: 2;
    transform: rotate(0);
}

.isUpsidedown.card-2 {
    transform: rotate(270deg);
}

.isUpsidedown {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}


